<!DOCTYPE html>
<!-- define the ng-app-->
<html lang="en-US">
<head>
    <title>Elementary Cheat Sheet</title>
    <!-- mate tags -->
    <meta charset="UTF-8">
    <!-- scripts -->
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- bootstrap js -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- angular js -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js"></script>
    <!-- css -->
        <!-- bootstrap css -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600" rel="stylesheet">
        <!-- ele css -->
        <link type="text/css" rel="stylesheet" href="main.css">
    <!--<link href="main.css" rel="stylesheet" type="text/css">-->
</head>
<!-- define the angular controller -->
<body>
    <!-- Header -->
    <header>
        <!-- Nav -->
        <nav class="nav-bar">
            <div class="container">
                <!-- Nav header -->
                <div class="navbar-header">
                    <img src="opt-imgs/elementary-logo.svg" width="126"/>
                </div>
                <!-- Nav links -->
                <ul class="nav navbar-nav navbar-right navbar-fixed">
                    <li>hi </li>
                    <li>what's up</li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- End Header -->
    <!-- Start of the main content -->
    <!-- this section will be injected with views -->
<main ng-app="eleAppTwo">
    <div class="wrapper">
        <!-- TOC -->
        <div class="row">
            <h2 class="col-md-12">table of contents.</h2>
            <div class="col-md-6">
                <h3 class="section-text">01.</h3>
                <div class="yellow-line"></div>
                <h3 class="section-text"><a href="#git" id="git-link" class="link">Git</a></h3>
                <div ng-controller="eleCtrlTwo">
                    <div ng-repeat="(index, x) in (filteredItems = (apple | orderBy: 'section'))">
                        <div ng-if="x.section !== currentSection ">
                            <p class="desc-text"><a href="#git-{{ x.id }}" class="link"> {{ x.section }} </a></p>
                        </div>
                        <div style="display: none;">{{ currentSection = filteredItems[index - 1].section }}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="section-text">02.</h3>
                <div class="yellow-line"></div>
                <h3 class="section-text"><a href="#css" id="css-link" class="link">CSS</a></h3>
                <div ng-controller="eleCss">
                    <div ng-repeat="(index, x) in (filteredItems = (cssSection | orderBy: 'section'))">
                        <div ng-if="x.section !== currentSection ">
                            <p class="desc-text"><a href="#css-{{ x.id }}" class="link"> {{ x.section }} </a></p>
                        </div>
                        <div style="display: none;">{{ currentSection = filteredItems[index - 1].section }}</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END TOC -->
        <!-- GIT -->
        <div ng-controller="eleCtrlTwo">
            <h2 id="git">git.</h2>
            <input type="text" ng-model="searchGitBox" id="searchGitBox" placeholder="search git commands">
            <div class="row">
                <!-- start the ng-repeat to loop through all of the data from the api -->
                <div ng-repeat="(index, x) in (filteredItems = (apple | orderBy: 'section' | filter: searchGitBox))">
                        <!-- if it is not the same as the section above write the section name -->
                        <div ng-if="x.section !== currentSection ">
                            <h3 class="section-text col-md-12" id="git-{{ x.id }}">{{ x.section }}</h3>
                        </div>
                        <!-- write the desc and code for each entered snippet -->
                        <div class="col-md-6">
                            <p class="desc-text">{{ x.description }}</p>
                            <p class="code-text">{{ x.codesnippet }}</p>
                        </div>
                    <!-- assign the currentSection to the section's name previous -->
                    <div style="display: none;">{{ currentSection = filteredItems[index - 1].section }}</div>
                </div>
            </div>

        </div>
        <!-- end of GIT -->
        <div ng-controller="eleCss">

            <h2 id="css">css.</h2>
            <input type="text" ng-model="searchCssBox" id="searchCssBox" placeholder="search css commands">
            <div class="row">
                <!-- start the ng-repeat to loop through all of the data from the api -->
                <div ng-repeat="(index, x) in (filteredItems = (cssSection | orderBy: 'section' | filter: searchCssBox))">
                    <!-- if it is not the same as the section above write the section name -->
                    <div ng-if="x.section !== currentSection ">
                        <h3 class="section-text col-md-12" id="css-{{ x.id }}">{{ x.section }}</h3>
                    </div>
                    <!-- write the desc and code for each entered snippet -->
                    <div class="col-md-6">
                        <p class="desc-text">{{ x.subsection }} <span class="code-text">{{ x.codesnippet }}</span></p>
                    </div>
                    <!-- assign the currentSection to the section's name previous -->
                    <div style="display: none;">{{ currentSection = filteredItems[index - 1].section }}</div>
                </div>
            </div>

        </div>
        <script src="git-cheatsheet.js"></script>
        <script src="script2.js"></script>
    </div>
</main>
</body>
</html>