<!DOCTYPE html>
<!-- define the ng-app-->
<html lang="en-US">
<head>
    <title>Elementary Cheat Sheet</title>
    <!-- mate tags -->
    <meta charset="UTF-8">
    <!-- scripts -->
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- bootstrap js -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- angular js -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js"></script>
        <!-- elementary js -->
        <script src="script.js"></script>
    <!-- css -->
        <!-- bootstrap css -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600" rel="stylesheet">
        <!-- ele css -->
        <link type="text/css" rel="stylesheet" href="main.css">
    <!--<link href="main.css" rel="stylesheet" type="text/css">-->
</head>
<!-- define the angular controller -->
<body>
    <!-- Header -->
    <header>
        <!-- Nav -->
        <nav class="nav-bar">
            <div class="container">
                <!-- Nav header -->
                <div class="navbar-header">
                    <img src="opt-imgs/elementary-logo.svg" width="126"/>
                </div>
                <!-- Nav links -->
                <ul class="nav navbar-nav navbar-right navbar-fixed">
                    <li>hi </li>
                    <li>what's up</li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- End Header -->
    <!-- Start of the main content -->
    <!-- this section will be injected with views -->
<main>
    <div class="wrapper">
        <!--<div ng-app="eleApp" ng-controller="mainController">
            <ul>
                <li ng-repeat="x in names">
                    {{ x.name + ' ....... ' + x.country }}
                </li>
            </ul>
        </div>-->
        <div ng-app="eleAppTwo" ng-controller="eleCtrlTwo">

            <h2>table of contents.</h2>

            <!--<h2>{{ apple }}</h2>-->
            <p>{{ description }}</p>
            <p>{{ codesnippet }}</p>
            <div class="row">
                <div ng-repeat="x in (filteredItems = (apple | orderBy: 'section'))">
                    <div class="col-md-6">
                        <h3 class="section-text">{{ x.section }}</h3>
                        <p class="desc-text">{{ x.description }}</p>
                        <p class="code-text">{{ x.codesnippet }}</p>
                    </div>
                </div>
            </div>

        </div>
        <script src="git-cheatsheet.js"></script>
    </div>
</main>
</body>
</html>