/* 01. Attributes */
* {
    margin: 0 auto;
}
*, *::before, *::after {
    box-sizing: inherit;
}
html {
    font-size: 100%;
    box-sizing: border-box;
}
body {
    font-size: 62.5%;
    margin: 0 auto;
    font-weight: 300;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-rendering: geometricPrecision;
}
header, main {
    background: #303340;
    color: #21e8eb;
    font-size: 1.8em;
}
header {
    padding: 8px 0px;
}
.wrapper {
    max-width: 790px;
    padding: 175px 30px;
    margin: 0 auto;
}
#toc {
    padding-bottom: 200px;
}
/* ========== 02. Typography ========== */
h2 {
    color: #f98377;
    font-size: 5em;
    line-height: 70px;
    max-width: 550px;
    margin-left: 0px;
    padding: 200px 0px 120px;
}
.section-text, .section-text a {
    color: #ffc655;
    font-size: 2.2em;
    text-transform: lowercase;
    padding-bottom: 10px;
}
.section-text a {
    font-size: 1.1em;
    margin-top: 0px;
}
.desc-text {
    margin-bottom: 0px;
    text-transform: lowercase;
}
.desc-text a {
    color: #f98377;
    max-width: 550px;
    margin-left: 0px;
}
.desc-text a:hover, .desc-text a:active, .desc-text a:focus {
    color: #ffc655;
    text-decoration: none;
}
.code-text {
    color: #f98377;
    text-transform: lowercase;
}
.yellow-line {
    border-top: 3px solid #ffc655;
}
input {
    background: none;
    border: #f98377 solid 2px;
    border-radius: 10px;
    font-size: 13px;
    padding: 7px 15px;
    color: #f98377;
    min-width: 200px;
}
input:hover, input:active, input:focus {
    outline: none;
    border: #ffc655 solid 2px;
    color: #ffc655;
}
::placeholder {
    color: #f98377;
}