<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="eleAppTwo" ng-controller="eleCss">

    <p>Today's welcome message is:</p>

        <div ng-repeat="(index, x) in (filteredItems = (cssSection | orderBy: 'section'))">
            <!--Index: {{ filteredItems[index] }} <br>
            Old Sections: {{ currentSection }} <br>
            CurrentSection: {{ x.section }} <br>-->
            <div ng-if="x.section !== currentSection ">
                <h1>Section: {{ x.section }} </h1>
            </div>
                description: {{ x.subsection }} <br>
                codesnippet: {{ x.codesnippet }}</p>

            <div style="display: none;">{{ currentSection = filteredItems[index - 1].section }}</div>
            <!--<p>Section: {{ x.section | unique }} <br>
            description: {{ x.description }} <br>
            codesnippet: {{ x.codesnippet }}</p>-->
        </div>

</div>

<p>The $http service requests a page on the server, and the response is set as the value of the "myWelcome" variable.</p>

<script>
    var app = angular.module('eleAppTwo', []);

    app.controller('eleCss', function($scope, $http) {
        $http.get("http://localhost/5303/elementary/git-api/public/cssSections")
            .then(function(response) {
                var testing = response.data;
                var cssSection = [];
                for(var i = 0; i < testing.length; i++){
                    cssSection.push(testing[i]);
                }
                //console.log(apple[0].section);
                $scope.cssSection = cssSection;
                $scope.prev = "";
                console.log($scope.cssSection);
        });
    });
</script>

</body>
</html>
